@import 'public.css';
body {
	background: none repeat scroll 0 0 #f2f2f2
}
.form-group {
	height: 45px;
}

.col-container {
	/*  background: none repeat scroll 0 0 #e8e8e8; */
	border: 4px solid #e8e8e8;
	border-radius: 3px;
	margin: 60px auto 55px;
	position: relative;
	background: none repeat scroll 0 0 #FFF;
	padding: 25px 0;
	max-width: 890px;
	height: 363px;
}
.login-img {
	max-width: 400px;
	max-height: 300px;
	/*position: absolute;*/
	/* left: 35px; */
}
.bg-ecf0f1 {
	background: none repeat scroll 0 0 #ecf0f1;
}
.login-footer {
	
}